
/*Color System*/
$color-primary: #fff;
$color-secondary: #000;
$color-tertiary: #d3d3d3;


/*Fonts*/
$fonts: Monospace, Arial, sans-serif;

/*Margin, Padding and BorderRadius*/
$spacing: 20px;
$border: solid 1px;